/* 
* @Author: Marte
* @Date:   2016-09-01 12:06:47
* @Last Modified by:   Marte
* @Last Modified time: 2016-09-27 16:54:51
*/

body{
    font-family: 'Inziu IosevkaCC SC';
    margin:0;
    background-color: #eee;
}
.todoApp-container{
    background-color: #fff;
    margin:0 auto;
    width: 520px;
    box-shadow:rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    border-radius:0 0 6px 6px;

}
h1{
    margin:0 auto;
    padding:40px 0 20px;
    width:150px;
}
#do{
    background-color: #eee;
    font-family:'Inziu IosevkaCC SC'; 
/*    font-style: italic;*/
    width:518px;
    height: 45px;
    border:1px solid #eee;
    font-size: 1.2em;
}
.something{
    width:518px;
}
.check{
    display: none;
}

label{
    display:inline-block;
    position: relative;
    top:2px;
    left:7px;
    margin:0px;
    width:12px;
    height:12px;
    border:1px solid #ddd;
    border-radius:2px;
    transition: background-color 0.5s;
}
label:hover{
    background-color: #ddd;
}
.check:checked+label::after{
    position:absolute;
    top: -1px;
    left:-1px;
    width:12px;
    height:12px;
    content: "\2714";
    background-color: #eee;
    border:1px solid #ddd;
    text-align: center;
    border-radius:2px;
    line-height: 12px;
}
.checkAll{
/*    padding:5px 15px ;*/
    display:none;
}
.checkAll p{
    color:#a9abab;
    font-size: 0.75em;
    margin:0 7px;
    display:inline-block;
    line-height:25px;
}
.every{
    display:none;
    position:relative;
    width:520px;
    border-top: 1px solid #eee;
}
.things p{
    position:relative;
    top: 2px;
    display:inline-block;
    margin:0 15px;
    font-size: 1.2em;
    line-height: 60px;
    width:430px;
}
.close_button{
    display:none;
    position:absolute;
    text-align: center;
    right:10px;
    top:22px;
    color:white;
    width:20px;
    height:20px;
    background-color: #c3c3c3;
    border-radius: 50%;
    line-height: 20px;
    transition:all 0.5s;
}
.every:hover .close_button{
    display:block;
}
.close_button:hover{
    background-color: #949494;
}
._edit{
    display:none;
    background-color: #eee;
    position:absolute;
    top:0px;
    left: 0px;
    width:518px;
    height:56px;
    border:1px solid #eee;
    font-size: 1.2em;
}

footer{
    width:520px;
    display:none;
    background-color: #eee;
    height:40px;
    border-radius: 0 0 6px 6px;
}
span{
    display:inline-block;
    width:86px;
    text-align: center;
    line-height: 40px;
}
footer p{
    display:none;
    font-size: 0.8em;
    border:1px solid #eee;
    border-radius: 6px;;
    float: right;
    margin:10px 10px;
    background-color: rgba(0, 0, 0, 0.1);
    line-height:20px;
    transition:background-color 0.3s;
}
footer p:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.instructions{
    margin:35px auto 20px auto;
    width:520px;
    text-align: center;
    color:#a9a9a9;
}
.credit{
    text-align: center;
    color:#a9a9a9;
}
a{
    font-size: 0.9em;;
    text-decoration: none;

}
.credit a:hover,a:visited{
    color:#797979;
}


