/* 
* @Author: Marte
* @Date:   2016-10-13 08:47:36
* @Last Modified by:   Marte
* @Last Modified time: 2016-10-13 09:16:27
*/
*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}

#wrapper{
    position: relative;
    margin: 30px auto;
    width:500px;
    height:300px;
}

#banner{
    position: relative;
    width:500px;
    height:300px;
    overflow: hidden;
}

.imgList{
    position: relative;
    width:2000px;
    z-index: 10;
/*    overflow: hidden;*/
}
.imgList li{
    float:left;
    display: inline;
}

 #prev,#next{
    position: absolute;
    top:120px;
    z-index: 20;
    cursor: pointer;
    opacity: 0.2;
    filter:alpha(opacity=20);
}
  #prev{left: 10px;}
  #next{right: 10px;}
  #prev:hover,
  #next:hover{opacity: 0.5;
    filter:alpha(opacity=50);
}
.indexList{
    position: absolute;
    right: 10px;
    bottom: 5px;
    z-index: 30;
}
  .indexList li{
    float: left;
    margin-right: 5px;
    padding: 2px 4px;
    border: 2px solid black;
    background: grey;
    cursor: pointer;
}
  .indexList .indexOn{
    background: red;
    font-weight: bold;
    color: white;
}


